<seccion class="secc01">
<h1 class="display-6 titulo1">Este espacio es para contar nuestras historias, historias de árboles, nuestros momentos felices, aciertos, fracasos y miedos. Cómo vemos el futuro y nuestro día a día. </h1>


  <div class="row justify-content-center">
    <%= image_tag "tree01.jpg", id: "img01", class: "col-9" %>
  </div>

</seccion>

<seccion class="secc">
  <div class="Container">
    <div class="row">
      <div class="col">
        <%= image_tag "tree02.jpg", id: "img02", class: "col-12" %>
        <p class="pp">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
      <div class="col align-self-center ">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sint maiores libero aut porro ea quas aliquam dolores cumque voluptatibus fugit sunt, vitae praesentium maxime minima eos corrupti sed officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sint maiores libero aut porro ea quas aliquam dolores cumque voluptatibus fugit sunt, vitae praesentium maxime minima eos corrupti sed officia!</p>
      </div>
    </div>
  </div>
</seccion>


<seccion class="secc">
  <div class="Container">
    <div class="row">
      <div class="col  align-self-center ">
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sint maiores libero aut porro ea quas aliquam dolores cumque voluptatibus fugit sunt, vitae praesentium maxime minima eos corrupti sed officia!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto sint maiores libero aut porro ea quas aliquam dolores cumque voluptatibus fugit sunt, vitae praesentium maxime minima eos corrupti sed officia!</p>        
      </div>
      <div class="col">
        <%= image_tag "tree03.jpg", id: "img03", class: "col-12" %>
        <p class="pp">Lorem ipsum dolor sit amet consectetur, adipisicing elit.</p>
      </div>
    </div>
  </div>
</seccion>


